<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="user.email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="user.password">
  </div>
  <div class="form-group">
    <label for="firstname">First name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="First name" ng-model="user.firstname">
  </div>
  <div class="form-group">
    <label for="lastname">Surname</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Last name" ng-model="user.lastname">
  </div>

  <button type="submit" class="btn btn-default" ng-click="onRegisterClick()">Register</button>
</form>
